html, body, p{
    padding: 0;
    margin: 0;
}
body{
    background-color: burlywood;
    background-image: url('bg.jpeg');
    background-blend-mode: color-burn;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.frame{
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    height: 70px;
}
header .search input{
    padding: 10px 20px;
    width: 400px;
    border-radius: 30px;
    border: 1px solid gray
}
header .menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
header .menu ul a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
header .menu ul a:hover{
    border-bottom: 2px solid black;
}
header .buttons button{
    padding: 14px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
}

main nav{
    width: 20%;
}
main nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main nav ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    gap: 20px;
    padding: 20px 10px;
    border: 2px solid black;
    border-radius: 20px;
    transition: all .3s;
}
main nav ul a:hover{
    background-color: black;
    color: white;
}
main nav ul a .fa{
    width: 30px;
    text-align: center;
}

main{
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px;
    width: 100%;
}
.container .card-box{
    display: flex;
    gap: 20px;
}
.container .card-box .column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container .card-box .row{
    display: flex;
    gap: 20px;
}
.container .card-box img{
    width: 475px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}
.container .card-box .row img{
    height: 100%;
}